/*untuk buat container yang ditengah */
#slider-container {
    width: 74%;
    height: 360px;
    margin-left: 170px;
    margin-top: 150px;
}



#slider {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#slider::-webkit-scrollbar {
    display: none;
}

/*untuk membuat icon panah jadi di tengah container*/
#slider-container {
    position: relative;
    display: flex;
    align-items: center;
}

.slider-content {
    margin-left: 5px;
    margin-right: 20px;
}

.card-image {
    width: 100%;
    background-size: cover;
    height: 175px;
    background-color: rgb(100, 97, 97);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


a {
    text-decoration: none;
    color: rgb(69, 67, 67);
}
 /* a:hover{
    color: white;
 } */

p.title {
    font-weight: 700;
   
}

p.title:hover {
    color: white;
    
}

* {
    font-family:'Poppins',sans-serif;
} 

.organization,
.title,
.description {
    margin: 5px 0px 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.organization {
    font-size: medium;
}

.title {
    font-weight: 500;
    font-size: larger;
    text-decoration: none;
}

.description {
    font-size: small;
    word-wrap: break-word;
}

.btn-detail-wrap {
    display: flex;
    justify-content: flex-end;
}

.btn-detail-wrap button {
    margin-top: 20px;
    background-color: #27AE60;
    width: 120px;
    font-size: 15px;
    height: 35px;
    border: 3px solid #27AE60;
    border-color: #27AE60;
    text-align: center;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;

}

.btn-detail-wrap button:hover {
    background-color: white;
    color: #219653;
    border: 3px solid white;
    cursor: pointer;
}

.btn-more-wrap {
    display: flex;
    justify-content: center;

}

.btn-more-wrap button {
    margin-top: 20px;
    background-color: #27AE60;
    width: 200px;
    font-size: 15px;
    height: 35px;
    border: 3px solid #27AE60;
    border-color: #27AE60;
    text-align: center;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;

}

.btn-more-wrap button:hover {
    background-color: white;
    color: #219653;
    border: 3px solid white;
}

/* untuk ukuran dan tempat dari icon panah */
.slider-icon.left,
.slider-icon.right {
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0.6;
}

.slider-icon.left {
    left: 0;

}

.slider-icon.right {
    right: 0;

}

.slider-icon.left:hover,
.slider-icon.right:hover {
    opacity: 1;
}

/*untuk ukuran card */
.slider-card {
    width: 300px;
    height: 335px;
    background: white;
    border-radius: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 12%);
    
}

.slider-card:hover {
    background-color: #048853;
    cursor:default;
}


#info-donasi {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 1000;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #002F05;
    text-align: center;
}