/*untuk buat container yang ditengah */
#sliderEdu-container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 360px;
    margin-top: 50px;
}


#sliderEdu {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

#sliderEdu::-webkit-scrollbar {
    display: none;
}

/*untuk membuat icon panah jadi di tengah container*/
#sliderEdu-container {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 787px) {
    #sliderEdu-container {
        max-width: 1170px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
        height: 360px;
        margin-top: 50px;
        position: relative;
        display: flex;
        align-items: center;
    }
    

}

a {
    text-decoration: none;
    color: rgb(69, 67, 67);
}
 /* a:hover{
    color: white;
 } */

p.title {
    font-weight: 700;
    
    
   
}

p.title:hover {
    color: white;
    
}

.card-image {
    width: 100%;
    background-size: cover;
    height: 175px;
    background-color: rgb(100, 97, 97);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.organization,
.title,
.description {
    margin: 5px 0px 5px 10px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.organization {
    font-size: medium;
}

.title {
    font-weight: 500;
    font-size: larger;
}

.description {
    font-size: small;
    word-wrap: break-word;
}

.btn-detail-wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;

}

.btn-detail-wrap button {
    margin-top: 20px;
    background-color: #27AE60;
    width: 120px;
    font-size: 15px;
    height: 35px;
    border: 3px solid #27AE60;
    border-color: #27AE60;
    text-align: center;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;

}

.btn-detail-wrap button:hover {
    background-color: white;
    color: #219653;
    border: 3px solid white;
}

.btn-more-wrap {
    display: flex;
    justify-content: center;
    margin-right: 10px;

}

.btn-more-wrap button {
    margin-top: 20px;
    background-color: #27AE60;
    width: 200px;
    font-size: 15px;
    height: 35px;
    border: 3px solid #27AE60;
    border-color: #27AE60;
    text-align: center;
    border-radius: 30px;
    color: white;
    margin-bottom: 20px;

}

.btn-more-wrap button:hover {
    background-color: white;
    color: #219653;
    border: 3px solid white;
}

/* untuk ukuran dan tempat dari icon panah */
.slider-icon.left,
.slider-icon.right {
    background: white;
    border-radius: 100%;
    position: absolute;
    opacity: 0.6;
}

.slider-icon.left {
    left: 0;

}

.slider-icon.right {
    right: 0;

}

.slider-icon.left:hover,
.slider-icon.right:hover {
    opacity: 1;
}

/*untuk ukuran card */
.slider-card {
    width: 300px;
    height: 335px;
    background: white;
    border-radius: 10px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px rgb(0 0 0 / 12%);
    cursor: pointer;
}

.slider-card:hover {
    background-color: #048853;
    color: white;
}


#info-edukasi {
    font-style: normal;
    font-weight: 1000;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #002F05;
    text-align: center;
    margin-top: 60px;
}

