.hero {
    top: 80px;
}

.hero img {
    top: 80px;
    margin-bottom: 100px;
    width: 100%;
    position: relative;
}

.hero .heroText h1 {
    position: absolute;
    width: 660px;
    margin-left: 80px;
    top: 230px;
    font-size: 37px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: white;
}

@media (max-width: 1000px) {
    .hero .heroText h1{
        top: 190px;
        font-size: 30px;
    }
}

@media (max-width: 899px) {
    .hero .heroText h1{
        top: 160px;
        width: 500px;
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .hero .heroText h1{
        width: 350px;
        top: 150px;
        font-size: 20px;
    }
}

@media (max-width: 553px) {
    .hero .heroText h1{
        top: 140px;
        width: 250px;
        margin-left: 50px;
        font-size: 15px;
    }
}
    
@media (max-width: 480px) {
    .hero .heroText h1{
        top: 120px;
        width: 200px;
        font-size: 15px;
    }
}