@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

.hero img {
    width: 100%;
    position: relative;
}

.hero .heroText h1 {
    position: absolute;
    width: 660px;
    margin-left: 80px;
    top: 260px;
    font-family: 'Titan One', cursive;
    font-size: 37px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: white;
}

@media (max-width: 1000px) {
    .hero .heroText h1{
        top: 250px;
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .hero .heroText h1{
        width: 350px;
        top: 220px;
        font-size: 20px;
    }
}
    
@media (max-width: 480px) {
    .hero .heroText h1{
        margin-top: 80px;
        width: 200px;
        font-size: 15px;
    }
}