
.section{
	width: 100%;
	min-height: 100vh;
}
.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.homeAboutUs{
	float: left;
	width: 55%;
    margin-left: 30px;
}
.aboutUsLogo{
	float: right;
	width: 20%;
    margin-top: 30px;
    margin-right: 20px;
}
.aboutUsLogo img{
	width: 100%;
	height: auto;
}
.homeAboutUs .title{
	font-size: 18px;
    color: #002F05;
    margin: 0;
}

.homeAboutUs .content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 1.5;
    color: #002F05;
    text-align: justify;
}

.homeAboutUs .social{
	margin: 40px 0;
}

.homeAboutUs .social i{
	color:#27AE60;
	font-size: 30px;
	padding-right: 20px;
}
.homeAboutUs .social i:hover{
	color:#00910e;
}
@media screen and (max-width: 768px) {
	.container{
        width: 80%;
        display: block;
        margin:auto;
        padding-top:50px;
    }
    .homeAboutUs{
        float:none;
        width:100%;
        display: block;
        margin:auto;
    }
    .aboutUsLogo{
        float:none;
        margin: 20px auto;
        width:50%;
        
    }
    .aboutUsLogo img{
        width: 100%;
        height: auto;
        display: block;
        margin:auto;
    }
    .homeAboutUs .title{
        text-align: center;
        font-size: 19px;
    }

    .homeAboutUs .social{
        text-align: center;
    }

}