.container {
    position: relative;
    margin-top: 100px;

}

nav {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 80px;
    background-color: #219653;
}

nav .logo img {
    float: left;
    margin: 5px 0 0 0;
    width: 13%;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .links li {
    list-style: none;
}

nav .links a {
    display: block;
    padding: 0;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

nav .links a:hover {
    color: black;
    transition: 200ms ease-in;
}

#nav-toggle {
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

nav .dropdown {
    float: left;
    overflow: hidden;
}

nav .dropdown .dropbtn {
    font-size: 17px;
    font-weight: bold;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

nav .dropdown .dropbtn:hover {
    color: black;
    transition: 200ms ease-in;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav .dropdown-content a {
    float: none;
    color: #219653;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {
    background-color: #219653;
    color: white;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}


@media screen and (max-width: 768px) {
    nav .logo img {
        float: none;
        width: 150px;
        justify-content: center;
    }

    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 80px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: rgba(0, 0, 0, .8);
        overflow: hidden;
        box-sizing: border-box;
        transition: all .5s ease-in-out;
    }

    nav .links a {
        font-size: 17px;
    }

    nav :checked~.links {
        bottom: 0;
    }

    nav .icon-burger {
        display: block;
    }

    nav :checked~.icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    nav :checked~.icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav :checked~.icon-burger .line:nth-child(2) {
        opacity: 0;
    }

}
