/*.hero {
    height: 502px;
    width: 100%;
    left: 0px;
    top: 96px;
    background: linear-gradient(99.95deg, #048853 0%, #000000 118.55%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero .heroTitle {
    justify-self: flex-start;
    margin-left: 0px;
}

.hero .heroTitle h1 {
    width: 765px;
    height: 118px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.hero .heroImage2{
    width: 100%;
    align-self: flex-start;
}

.hero .heroImage2 img{
    transform: scaley(-1);
    width: 420%;
}

.hero .heroImage1{
    width: 100%;
    margin-right: 300px;
}

.hero .heroImage1 img{
    width: 600%;
    
}*/