.heroReq {
    width: 600px;
    margin: 30px auto;
    margin-top: 100px;
}

.heroReq img {
    width: 100%;
}

iframe {
    margin-left: -20px;
    margin-top: 10px;
    margin-bottom: 100px;
    
}